{{#models}}
{{#model}}

{{#each imports}}
import { {{this}} } from './{{this}}';
{{/each}}

{{#isEnum}}
    {{>enum}}
{{/isEnum}}{{^isEnum}}{{#isAlias}}
//alias
{{/isAlias}}{{^isAlias}}{{#taggedUnions}}
//modelTaggedUnion
{{/taggedUnions}}{{^taggedUnions}}
    {{>modelGeneric}}
{{/taggedUnions}}{{/isAlias}}{{/isEnum}}
{{/model}}
{{/models}}
