{{#models}}
{{#model}}
{{#each imports}}
import { {{this}} } from './{{this}}';
{{#@last}}

{{/@last}}{{/each}}
{{#isEnum}}
{{>modelEnum}}
{{/isEnum}}{{^isEnum}}{{#isAlias}}
//alias
{{/isAlias}}{{^isAlias}}{{#taggedUnions}}
//modelTaggedUnion
{{/taggedUnions}}{{^taggedUnions}}
{{>modelGeneric}}
{{/taggedUnions}}{{/isAlias}}{{/isEnum}}
{{/model}}
{{/models}}
