export interface {{classname}} {{#parent}}extends {{{parent}}} {{/parent}}{
{{#vars}}
    {{#isReadOnly}}readonly {{/isReadOnly}}{{name}}{{^required}}?{{/required}}: {{#isEnum}}{{enumName}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}};
{{/vars}}
}
{{>modelGenericEnums}}